<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/pwa/manifest.json" rel="manifest">
</head>
<body>
<div class="main-nav-bar" th:fragment="mainNavFragment">
    <nav>
        <footer class="footer-nav">
            <a href="/">🏠</a>
            <a href="/messages">✉️</a>
            <a href="/forum">📝</a>
            <a href="/notifications">🔔</a>
            <a href="/profile">👤</a>
        </footer>
    </nav>
    <script src="/js/main-nav.js"></script>
</div>
</body>
</html>