<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/pwa/manifest.json" rel="manifest">
    <script defer th:src="@{/js/bundle.js}"></script>
    <link rel="stylesheet" th:href="@{/css/main-nav.css}">
</head>
<body id="page-main-nav">
<div class="main-nav-bar" th:fragment="mainNavFragment">
    <nav class="footer-nav">
        <a href="/forumMain">
            <i class="fas fa-solid fa-home"></i> </a>
        <a href="/find">
            <i class="fas fa-solid fa-envelope"></i>
        </a>
        <a href="/forum">
            <i class="fas fa-solid fa-plus"></i>
        </a>
        <a href="/notification">
            <i class="fas fa-solid fa-bell"></i>
        </a>
        <a href="/profile">
            <i class="fas fa-solid fa-user"></i>
        </a>
    </nav>
</div>
</body>
</html>
