<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forum Area Search</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="/forumJs/forum-area-search.js"></script>
    <link rel="manifest" th:href="@{/pwa/manifest.json}">
</head>
<body>
<div class="search-container">
    <h1>지역 검색</h1>
    <div class="search-bar">
        <input class="search-input" id="location-search" placeholder="지역을 검색하세요..." type="text">
    </div>
    <ul class="search-results" id="search-results">
    </ul>
</div>
</body>
</html>