<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>forum-edit</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link href="/pwa/manifest.json" rel="manifest">
    <script defer th:src="@{/js/bundle.js}"></script>
</head>
<body id="page-forum-edit">
<header class="top-bar">
    <button id="back-button">◀</button>
    <div class="header-title">게시글 수정</div>
    <button form="edit-forum-form" id="save-button" type="submit">완료</button>
</header>
<div class="main-container">
    <form id="edit-forum-form" th:object="${forum}">
        <input id="forum-id" th:value="*{id}" type="hidden">
        <div class="form-group">
            <textarea id="forum-content" placeholder="내용을 입력하세요..." required th:text="*{contentsText}"></textarea>
        </div>
        <div class="media-container">
            <div class="media-list" id="image-container">
                <div class="media-item" th:each="image : *{images}">
                    <img alt="게시물 사진" th:src="${image.imgUrl}"/>
                    <button class="delete-media-button" data-type="image" th:data-image-id="${image.id}" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="media-list" id="music-container" th:if="*{musicApiUrl}">
                <div class="media-item music-item">
                    <p>현재 음악</p>
                    <input id="music-url-input" th:value="*{musicApiUrl}" type="hidden"/>
                    <button class="delete-media-button" data-type="music" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

</body>
</html>