<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>forum-write</title>
    <script defer src="/js/forum-write.js"></script>
    <link rel="manifest" th:href="@{/pwa/manifest.json}">
</head>
<body>
<form id="forum-form" style="display: contents;">
    <input id="writerId" name="writerId" type="hidden">
    <input id="location" name="location" type="hidden">
    <input id="spotifyTrackId" name="spotifyTrackId" type="hidden">

    <input accept="image/*" id="images" multiple name="images" style="display: none;" type="file">

    <header class="header">
        <h1>Writing</h1>
        <button id="submit-btn" type="submit">공유</button>
    </header>

    <main class="writing-area">
        <label for="content">
            <textarea id="content" name="content" placeholder="무슨 일이 있었나요?"></textarea>
        </label>
    </main>

    <div id="image-preview-container"></div>

    <footer class="toolbar">
        <button id="add-image-btn" type="button">🖼️</button>
        <button id="add-music-btn" type="button">🎵</button>
    </footer>
</form>
</body>
</html>