<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forum Area Search</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="manifest" th:href="@{/pwa/manifest.json}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/forum-area-search.css}">
    <script defer th:src="@{/js/bundle.js}"></script>
</head>
<body id="page-forum-area-search">
<div id="app-container">
    <div class="search-header">
        <button class="back-button">
            <svg class="feather feather-arrow-left" fill="none" height="24" stroke="currentColor" stroke-linecap="round"
                 stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24"
                 xmlns="http://www.w3.org/2000/svg">
                <line x1="19" x2="5" y1="12" y2="12"></line>
                <polyline points="12 19 5 12 12 5"></polyline>
            </svg>
        </button>
        <h2 class="header-title">지역 검색</h2>
    </div>
    <div class="search-bar">
        <div class="input-wrapper">
            <svg class="map-icon" fill="none" stroke="currentColor" stroke-linecap="round"
                 stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 2L2 7l10 5 10-5-10-5z"></path>
                <polyline points="2 17 12 22 22 17"></polyline>
                <polyline points="2 12 12 17 22 12"></polyline>
            </svg>
            <input class="search-input" id="location-search" placeholder="지역을 선택하세요..." type="text">
        </div>
    </div>
    <ul class="search-results" id="search-results"></ul>
</div>
</body>
</html>