<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forum Main</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link href="/pwa/manifest.json" rel="manifest">
    <script defer th:src="@{/js/bundle.js}"></script>
</head>
<body id="page-main">
<header class="top-bar">
    <div class="logo">PostHere</div>
    <div class="location-area">
        <a href="/forum/area" id="current-location-link">
            <span class="location-icon">📍</span>
            <span id="current-location-text">위치 설정 중...</span>
        </a>
    </div>
</header>
<div class="main-container">

    <div id="post-list-container"></div>

    <div th:replace="~{fragment/main-nav :: mainNavFragment}"></div>
</div>
</body>
</html>