/* 전체 페이지 레이아웃을 모바일 앱 비율로 고정 */
html, body {
    height: 100svh;
    width: 100%;
    min-height: 100svh; /* 최소 높이도 뷰포트에 맞춤 */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
    background-color: #f0f2f5;
    overflow-y: auto;
    font-family: Pretendard, sans-serif;
    -webkit-tap-highlight-color: transparent;
}

/* 앱 화면 컨테이너 */
#app-container {
    height: 100%; /* 뷰포트 높이에 맞게 설정 */
    width: 100%; /* 뷰포트 너비에 맞게 설정 */
    max-width: 400px; /* PC 등 큰 화면에서 너무 커지는 것을 방지 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 16px;

    position: relative;

    overflow-y: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


/* 메인 페이지용 스타일 */
#page-main #app-container {
    align-items: stretch;
}

#page-main-nav #app-container {
    padding: 16px;
}

#page-login #app-container,
#page-signup #app-container {
    justify-content: center;
}

#page-profile #app-container {
    padding: 0;
    max-width: 432px;
}