<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fin'd</title>
    <link rel="stylesheet" th:href="@{/css/find-write.css}">
    <script defer th:src="@{/js/bundle.js}"></script>
</head>
<body id="page-find-write">
<h1>Fin'd</h1>
<div id="canvas-container">
    <canvas id="image-canvas"></canvas>
    <canvas id="paint-canvas"></canvas>
    <canvas id="object-canvas"></canvas>
</div>
<div id="toolbar">
    <div id="container-image">
        <button id="add-image-btn">사진 추가</button>
        <input accept="image/*" id="image-loader" style="display: none;" type="file">
    </div>
    <div id="container-color">
        <div id="red"></div>
        <div id="green"></div>
        <div id="blue"></div>
        <div id="black"></div>
    </div>
    <div id="container-thickness">
        <label for="thickness">굵기: </label>
        <input id="thickness" name="thickness" type="range">
    </div>
    <div id="container-text">
        <label for="text-input">Text: </label>
        <input id="text-input" name="" type="text">
        <input id="add-text-btn" type="button" value="삽입">
    </div>
    <div id="container-font-size">
        <label for="font-size-slider">글자 크기: </label>
        <input id="font-size-slider" max="72" min="8" name="" type="range" value="20">
        <span id="font-size-value">20</span>px
    </div>
    <div id="container-save">
        <button id="save-btn">저장</button>
    </div>
</div>
</body>
</html>