<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>내 위치 주변 Fin'd 찾기</title>
    <link rel="stylesheet" th:href="@{/css/find-on-map.css}">
    <script defer th:src="@{/js/bundle.js}"></script>
</head>
<body id="page-on-map">
<div id="map"></div>

<div class="modal-overlay" id="marker-modal">
    <div class="modal-content">
        <img alt="Profile" id="modal-profile-image" src="">
        <span id="modal-nickname"></span>
        <button id="modal-find-button">Fin'd로 이동</button>
        <button id="modal-close-button">&times;</button>
    </div>
</div>


<script async
        th:src="@{'https://maps.googleapis.com/maps/api/js?key=' + ${googleMapsApiKey} + '&callback=initMap&libraries=&v=weekly'}"></script>
</body>
</html>